.gameMain{
    width: 100%;
    text-align: center;
    margin-top: 1%;
    span{
        font-size: 50px;
       margin-left: 1%;
       margin-right: 1%;
    }
}
.result{
    margin-right: 8%;
}

.info{
    text-align: center;
    margin-top: 2%;
    input[type=text]{
        text-align: center;
    }
    label{
       margin-left: 1%;
    }
    input[type=button]{
        margin-left: 2%;
    }
}
.gameTable{
    width: 70%;
    div{
        border: 2px solid black;
        width:29%;
        height: 200px;
        font-size: 80px; 
        float: left;
        text-align: center;
        line-height: 200px;
    }
}
.overTable{
    position: absolute;
    height: 600px;
    width: 100%;

}
.saveGames{
    width: 20%;
    border: 2px solid black;
    height: 100px;
    margin-right: 1%;
}